# ignore list

### general ignore list ###
*.pb
*.pbtxt
*.pyc
core.*
*.so
*.swp
*.bin
debug/
log/
model/
results/
np_data/
ckpt/
calib/
/.vscode/
*.tar.gz
debug.py
*.jpg
*.png
*.so.*
*/path.mk
*.a
*.out
*.o
*.prototxt
*.caffemodel
*.pb.h
*.pb.cc
*.npy

### specific ignore list ###
blade_log
scale.txt
test_log.txt
tmp/
inference_server/blade_processor/demo/preprocess/_lib/*
inference_server/blade_processor/demo/preprocess/_obj/*
inference_server/blade_processor/demo/preprocess/third_party/*
inference_server/blade_processor/demo/preprocess/common.h
original/Makefile.config
original/lib/*
original/build/*
original/test/bin/*
original/python/build/*
original/plugins/python/build/*
original/blade_tensorrt/*/build/*
original/blade_tensorrt/parsers-master/*/*.pb.cc
original/blade_tensorrt/parsers-master/*/*.pb.h
original/blade_tensorrt/parsers-master/onnxOpenSource/third_party/*
eas_test/client/post_file
eas_test/EAS_TEST_CONFIG.json
eas_test/config_blade.json
eas_test/processor/*
eas_test/processor/lib/*
eas_test/processor/include/*
test/local_model_path/*
test/blade_log/*
test/debug/*
test/optimized_model/*
test/*.pyc
test/test_log.txt
test/tmp_test.txt
model_info_config_example/model_tmp.json
model_info_config_example/model_donghui.json
comput_conv2d.py
comput_matmul.py
dir_content
find_save_model_dir.py
found
frequent
generate_graph_def.py
log/.compute_oplist.swp
log/compute_oplist
log/conv2d
log/conv2d_result
log/conv2d_simple
log/matmul
log/op_list
log/op_list2
graph_def/
graph_def_2.pbtxt
graph_def_43.pbtxt
graph_def_5.pbtxt
images.txt
jitprofiling_analysis_multiprocs.py
jitprofiling_analysis_multiprocs.pyc
long_text_2018-05-15-16-29-24.txt
meta_info_example
mkdir.sh
not_find
origin_graph
out
parse_graph_def.py
parse_model_on_pai/
segment.pyc
segment_backup.py
simple_map_reduce.py
simple_map_reduce.pyc
statistic_conv.py
statistic_matmul.py
temp
temp.py
temp1
test.py
test1.py
test2.py
test_parser.py
trt_conversion.py
trt_conversion.pyc
try.py
untar.sh
utility.pyc
new_models/
log/*.pyc
new_graph_def/
security_models/*
!security_models/cp.sh
security_model_graph_def/
log/legacy/
convert_tool/__pycache__/
HW.txt
model.ckpt-151501-trt.pb
model.ckpt-151501-trt.pbtxt
paiocr_models/
paiocr_model_graph_def/
model.ckpt-151501.pb-trt.pb
model.ckpt-151501.pb-trt.pbtxt
model.ckpt-180314_Conv4NetRes_blank_output.pb-trt.pb
model.ckpt-180314_Conv4NetRes_blank_output.pb-trt.pbtxt
model.ckpt-105041_output_det.pb
model.ckpt-151501.pb
model.ckpt-180709_Conv4NetRes_output.pb
model.ckpt-vert-h32-180207_Conv4NetRes_output.pb
fused_graph.pbtxt
trt_graph.pbtxt
subgraph.pbtxt
nv_tensorrt_op/paths.mk
log_security_ocr_fp16/
test_tftrt.py
eas_test_env/
int8_prototype.py
local_model_path/
int8_custom_op_benchmark/
resnet50_benchmark.*
*.log.*
icbu_model_path/
icbu_benchmark.py
optimized_model/
orig_model_*
opt_model_*
**/infer_tmp
load_and_run.py
tempCudaHeader4TF*
bug*.json
caffe_model/
convert_tmp/
create_trt_engine.py
load_trt_engine_and_inference.py
eascmd*
eas_mode_test/models
